html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: inherit;
}

:focus {
    outline: none;
}

.clear {
    clear: both;
}

.home {
    background: #eaeaea;
}

.content-container {
    position: relative;
    background-color: #fff;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

/* Header */

.header {
    margin: 0 auto;
}

.logo {
    float: left;
}

.home-page-nav-and-search-block {
    position: relative;
    width: 100%;
    margin: 0 auto;
    clear: both;
}

.main-nav {
    position: relative;
}

    .main-nav .RadMenu_Silk .rmRootGroup {
        border-width: 1px 0 0 1px;
    }

.home-page-search-outer-block {
    border-style: solid;
    float: left;
    width: 300px;
    height: 39px;
    border-width: 1px 1px 0 0;
    border-color: #e3e2e2 #e3e2e2 #fff;
    background-image: linear-gradient(#fff,#d6d5d4);
    box-shadow: 0 2px 2px #e3e2e2;
}

.home-page-search-inner-block {
    text-align: center;
    padding-top: 4px;
}

/* Main body*/

.main-body-block {
    overflow: hidden;
    padding-bottom: 20px;
}

.recommend-product-table-title {
    background-color: #e6e6e6;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
}

.slider-block-wraper {
    float: right;
    margin-top: 20px;
    margin-right: 30px;
}

.recommend-product-wraper {
    margin-top: 25px;
    width: 600px;
    float: right;
    margin-right: 30px;
}

.featured-content-block {
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}

.featured-content-item {
    width: 313px;
    margin-bottom: 15px;
    height: 246px;
    background: #E6E6E6;
    padding: 15px;
}

.featured-content-item-image {
    width: 283px;
    height: 175px;
}

.featured-content-item-text {
    margin: 5px 0;
    font-size: 17px;
}

.table {
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-bordered {
    border: 1px solid #ddd;
    border-collapse: separate;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.table th, .table td {
    border-top: 1px solid #ddd;
    padding: 1px 10px;
}

.table-bordered th, .table-bordered td {
    border-left: 1px solid #ddd;
}

a:link {
    color: #7d7d7d;
    text-decoration: none;
    !important;
}

a:hover {
    text-decoration: underline;
}

.footer-container {
    border-top: 1px solid #BCBCBC;
    padding: 10px 10px 10px 0;
    color: #464646;
    font-size: 12px;
    overflow: hidden;
}

.footer-table-wraper {
    float: left;
    width: 33%;
    margin-bottom: 10px;
}

.footer-table {
    display: table;
    margin: 0 0 0 8%;
}

.footer-table-column {
    float: left;
}

.footer-table-caption {
    font-size: 15px;
    padding: 5px 5px 5px 5px;
}

.footer-table-row {
    display: table-row;
}

.footer-table-cell {
    display: table-cell;
    padding: 5px;
}

.clearfix {
    width: 102%;
    overflow: hidden;
    border-top: 1px solid #BCBCBC;
    margin: 5px 0 5px 0;
}

.footer-container address {
    padding: 7px 5px 0 0;
    text-align: right;
    display: block;
}


/* Product Details*/

.product-detail-container {
    float: left;
    width: 70%;
    padding: 15px;
}

.pdf-link-icon {
    background: url(/images/pdf.png) no-repeat left 50%;
}

.pdf-link {
    padding: 0 0 0 20px;
}

.product-detail-info-container {
    overflow: hidden;
    display: block;
}

.product-detail-image {
    float: right;
    margin-right: 50px;
}

.product-detail-info {
    float: left;
}

.product-chemical-name {
    display: block;
    font-size: 30px;
    margin: 0 0 10px 0;
}

.product-general-prop {
    display: block;
    margin-bottom: 5px;
}

.product-detail-description {
    font-size: 14px;
    background: #f0f0f0;
    padding: 10px;
    margin: 0 0 30px;
    text-align: justify;
}

.product-detail-description-header {
    margin: 0 0 10px 0;
    font-weight: bold;
}

.product-detail-price-container {
    overflow: hidden;
    float: right;
    width: 25%;
    margin: 15px 15px 0 0;
}

.price-title-box {
    padding: 10px 15px 10px;
    font-size: 24px;
    border: 1px solid #037dc8;
    border-bottom: 1px solid #b0b0b0;
    background: #037dc8;
    color: #fff;
}

.price-content-box {
    border: 1px solid #b0b0b0;
    border-top: 0;
    padding: 10px;
    font-size: 14px;
}

.price-content-box-title {
    font-weight: bold;
}

.price-title-left {
    padding: 5px 0 5px 40px;
    width: 80%;
}

.bulk-inquiry-box {
    padding: 10px 15px 10px;
    font-size: 24px;
    border: 1px solid #f5a71f;
    background: #f5a71f;
    color: #fff;
}

    .bulk-inquiry-box strong {
        margin-left: 5px;
    }

.search-title-box {
    padding: 5px 10px 5px;
    font-size: 20px;
    border: 1px solid #037dc8;
    border-bottom: 1px solid #b0b0b0;
    background: #037dc8;
    color: #fff;
}

.search-content-box {
    border: 1px solid #b0b0b0;
    border-top: 0;
    padding: 10px;
    font-size: 13px;
}

.search-block {
    overflow:hidden;
    padding: 5px 0 5px 0;
}

.search-page-search-btn {
    margin-top: 10px;
    float:right;
}

